<div class="jumbotron">
      <div class="container">
        <h1>Bank Account Movements</h1>
       <p id="notice"><%= notice %></p>
      </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th colspan="1">From </th>
      <th colspan="1">To </th>
      <th colspan="1">Transfer amount </th>
      <th colspan="1">Balance </th>
    </tr>
  </thead>
  <tbody>
    <% @transfers.each do |transfer| %>
      <tr>     
        <td><%= transfer.origin_user.name %></td>
        <td><%= transfer.destination_user.name %></td>
        <td><%= transfer.amount %></td>
        <td><%= transfer.line_balance %></td>
      <tr>
    <% end %>
    
  </tbody>
</table>  
<p>  
  <strong>Current Balance: </strong><%= @bank_account.balance %>
</p>

