<%= form_for(@transfer) do |f| %>
  <% if @transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transfer.errors.count, "error") %> prohibited this transfer from being saved:</h2>

      <ul>
      <% @transfer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :destination_user_id %><br>
    <%= f.select(:destination_user_id, users_to_transfer, :prompt => 'Select') %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
    <%= f.hidden_field :origin_user_id %>
    <%= f.hidden_field :origin_user_balance %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>